<% if flash[:notice] %>
	<div class="notice"><button type="button" class="close">x</button><%= flash[:notice] %></div>
<% end %>	
<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @order_items.each do |order_item| %>
		<tr>
			<td>Quantity: <%= order_item.quantity %></td>
			<td>Subtotal: <%= order_item.quantity * order_item.item.price %></td>
			<td><%= link_to order_item.item.title, order_item.item %></td>
			<td></td>	
		</tr>
		<% end %>
		<tr>
			<td>Total cost: <%= @order.total_price %></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Order status:</td>
			<td>
				<% if @order.ordered && !@order.paid && !@order.completed %>
					<p>Ordered on: <%= @order.created_at%></p>
				<% elsif @order.paid %>
					<p>Paid</p>
				<% elsif @order.cancelled %>
					<p>Cancelled on: <%= @order.cancelled_at %></p>
				<% elsif @order.completed %>
					<p>Completed on: <%= @order.completed_at %></p>
				<% end %>
			</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>