<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  
    <div>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
    
  <div>
    <%= f.hidden_field :line_item_ids, value: @cart.line_item_ids %>
  </div>
  <div>
    <%= f.hidden_field :ordered, value: true %>
  </div>
  
  <div>
    <%= f.radio_button :pickup_or_delivery, true %>
    <%= f.label :pickup_or_delivery_true, 'Do you want to pick it up?' %>
  </div>

  <div>
    <%= f.radio_button :pickup_or_delivery, false %>
    <%= f.label :pickup_or_delivery_false, 'Or would you rather have it delivered?' %>
  </div>

  <div id="address_fields">
    <%= f.fields_for :address do |address_field| %>
    
      <div>
        <p><%= address_field.label :city %></p>
        <%= address_field.text_field :city %>
      </div>

      <div>
        <p><%= address_field.label :state %></p>
        <%= address_field.text_field :state %>
      </div>

      <div>
        <p><%= address_field.label :zip %></p>
        <%= address_field.text_field :zip %>
      </div>

      <div>
        <p><%= address_field.label :street_number %></p>
        <%= address_field.number_field :street_number %>
      </div>

    <% end %>
  </div>

  <% if !@order.new_record? && (@order.paid || !@order.paid) %>
    <div id="line_item_fields">
      <%= f.fields_for :line_items do |line_item_field| %>
        <div>
          <%= line_item_field.label :_destroy, :title%> 
          <%= line_item_field.check_box :_destroy%>
        </div>
      <% end %>  
    </div>
  <% end %>  


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<script type="text/javascript">
$(document).ready(function(){

    $("#order_pickup_or_delivery_true").click(function(){
      $("#address_fields").hide();
    });
    $("#order_pickup_or_delivery_false").click(function(){
      $("#address_fields").show();
    });       
});
</script>