<p id="notice"><%= notice %></p>
<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @order_items.each do |order_item| %>
		<tr>
			<td>Quantity: <%= order_item.quantity %></td>
			<td>Subtotal cost: <%= order_item.quantity * order_item.item.price %></td>
			<td><%= link_to "Item description", order_item.item %></td>
		</tr>
		<% end %>
			<tr>
				<td>Total cost: <%= @order.total_price %></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Order status:</td>
				<td>
					<p>Ordered on: <%= @order.created_at%></p>
					<% if @order.paid %>
						<p>Paid</p>
					<% elsif @order.cancelled %>
						<p>Cancelled on: <%= @order.cancelled_at %></p>
					<% elsif @order.completed %>
						<p>Completed on: <%= @order.completed_at %></p>
					<% end %>
				</td>
				<td></td>
			</tr>
	</tbody>
</table>
		
<%= link_to 'Back', orders_path %>

