<%= form_for(@item, html: {multipart: true}) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= f.label :title%></p>
  <%= f.text_field :title %><br/>

  <p><%= f.label :description%></p>
  <%= f.text_field :description %><br/>

  <p><%= f.label :price %></p>
  <%= f.text_field :price %><br/>

  <p><%= f.label :photo %></p>
  <%= f.file_field :photo %><br/>
  
  <p><%= f.label :category_ids, "Categories" %><br/></p>
  <%= f.collection_select :category_ids, Category.all, :id, :title, {}, {multiple: true} %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
