<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
          <td>
            <%= link_to '#{item.title}', item %>
          </td>
        
          <td>
            <% if is_user_admin? && !item.retired %>
              <%= link_to 'Edit', edit_item_path(item) %>
            <% end %>
          </td>
          <td>
            <% if is_user_admin? && !item.retired %>
              <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>  
          </td>
          
            <td>
              <% if is_user_admin? && @category && !item.retired %>
                <%= button_to 'Add this item to the #{@category.title} category', categorisations_path(item_id: item.id, category_id: @category.id ) %>
              <% end %>   
            </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<% if is_user_admin? %>
 <%= link_to 'New Item', new_item_path %>
<% end %>