<% if flash[:notice] %>
	<p class="notice"><button type="button" class="close">x</button><%= flash[:notice] %></p>
<% end %>

<p class="notice"><button type="button" class="close">x</button><%= notice %></p>

<table>
	<th></th>
	<th></th>
	<tbody>
		<tr>
			<td><%= image_tag @item.photo.url(:medium) %></td>
			<td>
				<h2><%= @item.title %></h2>
				<p><%= @item.description %></p>
				<p>Price: <%= @item.price %></p>
			</td>
		</tr>
		<tr>
			<td>
				<% if !@item.retired %>
					<%= button_to "Add to cart", {controller: "line_items", action: "create", item_id: @item.id} %>
				<% end %>
			</td>
			<td>
				<% if is_user_admin? && !@item.retired %>
					<%= button_to "Retire this item.", {controller: 'items', action: 'retire',item_id: @item.id} %> 
				<% end %>
			</td>	
		</tr>
	</tbody>
</table>



<% if is_user_admin? && !@item.retired %>
	<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>	
<%= link_to 'Back', items_path %>
